@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
     
    color: #412C66;
    text-align: center;
    

}

h2{
    text-align: left;
    font-size: 35px;
    width: 10;
    color: #D2D1B9;
}

img{
    position: absolute;
    top: 25px;
    left: 780px;
    width: 550px;
    border-radius: 25px;
}

body{
    
    height: 100%;
    background-position: 100%;
}
